body {
  font-family:'Courier New', Courier, monospace;
  background: linear-gradient(to right, rgb(139, 139, 141), rgb(253, 253, 253));
  text-align: center;
}

#navi a:hover {
  opacity: 0.7;
}

#navi {
  position: fixed;
  z-index: 2;
  box-shadow: 5px 5px 5px rgb(211, 77, 0);
  width: 100%;
  background-color:rgb(194, 194, 194);
  top: 0;
  height: 4rem;
}

#btn {
  border-radius: 20%;
  border: 2px solid gray;
  box-shadow: 3px 3px 3px rgb(211, 77, 0);
}

#logo {
  height: 5rem;
  border-radius: 20%;
  border: 2px solid gray;
  margin: 7px;
  box-shadow: 3px 3px 3px rgb(211, 77, 0);
}

#navi li {
  font-weight:bold;
  padding: 1.2rem;
  font-size:1.3rem;
}

#navi a {
  font-family: 'Unbounded';
  text-shadow: 2px 2px 3px black;
  color: white;
}

main {
  position: relative;
}


 #hello {
  font-size: 6rem;
  padding: 3.5rem;
  font-family: 'Unbounded';
  text-shadow: 2px 2px 3px rgb(211, 77, 0);
  color: white;
}

#propic {
  width: 11rem;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(211, 77, 0);
  margin: 4rem auto;
}

.bio {
  margin: auto;
  font-size: 1.5rem;
  padding: 1rem;
  font-family:'Red Hat Mono';
}

.cv {
  background-color: whitesmoke;
  margin: auto;
  box-shadow: 5px 5px 5px rgb(211, 77, 0);
  width: 11rem;
  border-radius: 4px;
  
}

.cv h3 {
  font-family: 'Unbounded';
  padding: 4px;
  margin: 1.1rem auto;
}

.cv a {
  text-decoration: none;
  color: white;
  background-color: rgb(211, 77, 0);
  border-radius: 8px;
  box-shadow: 3px 3px 4px white;
  padding: .8rem;
  font-weight: bold;
}

h2 {
  font-family: 'Unbounded';
  text-shadow: 2px 2px 3px white;
}

p {
  font-family: 'Red Hat Mono';
}

/*skills*/
#skills {
  padding: 2rem;
  margin: 10rem auto;
  display: inline-flexbox;
  font-size: 1.5rem;
  width: 50%;
}

.devicon {
  background-color: white;
  width: auto;
  margin: auto;
  padding: 1.2rem;
  border-radius: 4px;
  box-shadow: 5px 5px 5px rgb(211, 77, 0);
}

i {
  font-size: 5rem;
  padding: 1rem;
}


/*projects*/
#projects {
  display: flexbox;
  font-size: 1.5rem;
}
#projects h2 {
  padding: 3rem;
}


.demo img {
  width: 25%;
  display: inline-flex;
  box-shadow: 5px 5px 5px rgb(211, 77, 0);
  border-radius: 8px;
}

/*contacts*/
#contacts {
  margin-top: 15rem;
}

.message {
  box-shadow: rgba(100,100,111,.2) 0 7px 29px 0;
  background: #fff;
  padding: 3rem;
  margin-top: 3rem;
  text-align: center;
  width: 35%;
  box-shadow: 5px 5px 5px rgb(211, 77, 0);
  border-radius: 8px;
  margin: 0 auto;
}

input, textarea {
  color: #333;
  padding: .7rem;
  width: 95%;
  border: 1px solid #ebebeb;
  font-size: 1rem;
  letter-spacing: 0;
  background: #f0f0f0;
  border-radius: 8px;
  font-weight: 600;
}

label {
  color: #666;
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: 700;
  display: block;
  text-align: left;
  padding-top: .5rem;
}

.submit {
  color: white;
  background-color: rgb(211, 77, 0);
  border-radius: 8px;
  margin-top: 2rem;
  padding: .8rem;
  font-weight: bold;
  border: none;
}
.submit:hover {
  opacity: 0.7;
}

#contacts {
  font-size: 1.5rem;
}

.social {
  display: inline-block;
  background-color: whitesmoke;
  margin: auto;
  box-shadow: 5px 5px 5px rgb(211, 77, 0);
  border-radius: 4px;
}

.fab {
  padding: 1rem;
  font-size: 2.5rem;
  width: 1.5rem;
  text-decoration: none;
  margin: 2px 2px;
}

.fab:hover {
  opacity: 0.7;
}
  
.fa-facebook {
  color: #3B5998;
}

.fa-linkedin {
  color: #007bb5;
}

.fa-instagram {
  color: #125688;
}

.fa-skype {
  color: #00aff0;
}

footer {
  border-top: 1px solid #444;
  margin-top: 5rem; 
  width: 100%;
  text-align: left;
  font-size: small;
  }


.lang {
    float: right;
}

#lang {
  background-color: rgb(211, 77, 0);
  padding: .4rem;
  border-radius: 4px;
  font-family: Unbounded;
  border: #f0f0f0;
  color: white;
}

@media screen and (max-width: 750px)  {
  #hello {
    font-size: 4rem;
    font-family: 'Unbounded';
    text-shadow: 2px 2px 3px rgb(211, 77, 0);
    color: white;
    
  }
  #aboutme {
    margin: auto;
    width: 90%;
  }

  #propic {
    
    margin: 2rem auto;
  }
  .fox {
    min-width: 22rem;
  }
  
  p {
    font-size: 1rem;
  }
  #skills {
    padding: 2rem;
    margin: 2rem auto;
    display: inline-flexbox;
    font-size: 1.5rem;
    width: 90%;
  }
  
  .devicon {
    background-color: white;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgb(211, 77, 0);
  }
  
  i {
    font-size: 3rem;
    padding: 0.8;
  }

  .message {
    box-shadow: rgba(100,100,111,.2) 0 7px 29px 0;
    background: #fff;
    padding: 1rem;
    margin-top: 1rem;
    text-align: center;
    width: 90%;
    box-shadow: 2px 2px 2px rgb(211, 77, 0);
    border-radius: 8px;
    margin:auto;
  }
}
